.opening{
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(../images/intro.jpg);
    background-size: cover;
    background-position: center;
}
.opening .head-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.opening .head-text .text{
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2em;
}
.opening .head-text .white{
    font-family:'Times New Roman', Times, serif ;
    color: #fff;
}
.opening .head-text .yellow{
    font-family:'Times New Roman', Times, serif ;
    color: #ffc222;
}






header{
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.788);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .header-text{
    height: 3rem;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}
.welcome-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.welcome-text-box .white{
    color: #fff;
}
#Auth-btn{
    background-color: #ffffffe0;
    width: max-content;
    border-radius: 15px;
}