
body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.heading{
    background-color: rgba(82, 240, 34, 0.2);
    border-radius: 1rem;
}
.yellow{
    color: #ffc222;
}
.register-box{
    height: 18rem;
    width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 30px;
    position: relative;
}
.register-box .register-text{
    font-size: 2rem;
    color: rgb(53, 125, 9);
    position: absolute;
    top: 1rem
}
.register-box .holder{
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}
.register-box .holder .text-type{
    font-size: 1.1rem;
}
.email{
    position: absolute;
    top: 5rem;
}
.password{
    position: absolute;
    top: 8rem;
}
#email{
    font-size: 1rem;
    border-radius: 0.3rem;
}
#password{
    font-size: 1rem;
    border-radius: 0.3rem;
}
#alert-text{
    color: red;
    font-size: 1rem;
    position: absolute;
    top: 9.8rem;
    display: none;
}
#register-btn{
    background-color: rgb(153, 236, 29);
    height: 2rem;
    width: 5rem;
    font-size: 1rem;
    border-color: #249e05;
    border-radius: 0.5rem;
    position: absolute;
    top: 11.5rem;
}
#change-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 14rem
}