/* Tablet */
@media only screen and (max-width: 1080px) {
    .menu{
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(3, auto);
        gap: 10%
    }
}
/* Mobile phone */
@media only screen and (max-width: 720px) {
    .menu{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(6, auto);
        gap: 0;
    }
}